/* some common class */
.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

header,
main {
    overflow-x: hidden;
    max-width: 1320px;
    margin: auto;
}

.red-color {
    color: #F00;
}

section {
    margin-bottom: 120px;
}

.big-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}


/* banner related style */
.celebration-banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}   

.banner-heading-alt {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 170px 530px 0px 530px;
}

.heading-celebration {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 20px;
    padding: 0 340px 170px 340px;
}



/* .second-section */

.second-section {
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px; 
}


.second-section .text-lines {
    padding: 48px 0; 
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.second-section .text-lines h1 {
    color: #F00;
    font-size: 88px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.second-section .text-lines p {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 5px;
  
}


.second-section .categories {
    color: #070211;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.second-section img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-top: -50px;
    margin-left: 300px;
   
}

/* .third-section */

.third-section {
    max-height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 90px;
    border-radius: 16px;
    margin-bottom: 180px;
}
.left-side{
    padding: 126px 0 126px 126px;
}
.right-side{
    padding-right: 126px;
}

.welcome-head{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
margin-bottom: 0px;
}
.welcome-text{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 48px;
}

.join-now-button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
cursor: pointer;
}
.join-now-button:hover {
    background-color: rgb(132, 0, 255);
}




/* .time-date-section */
.time-date-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px 300px;
    font-family: inter;
    font-size: 32px;
    font-weight: 600px;
    border-radius: 16px;
}

.join-now-button {
    text-decoration: none;
    background-color: #F00;
    color: #FFF;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.join-now-button:hover {
    background-color: #F00;
    transform: scale(1.05);
}





/* New offer style */
.special-offer-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.upcoming-offer-1 {
    width: 33.33%;
}

.featured-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.upcoming-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    
}

.upcoming-offer-2 {
    width: 33.33%;
}

.offer-preview-image {
    border-radius: 50%;
    padding: 20px;
    border: 15px solid #F00;
    margin-top: 45px;
}

.upcoming-offer-3 {
    width: 33.33%;
}

.upcoming-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.festive-image {
    margin-top: 40px;
}


/* extra section */
.exclusive-holiday-offer {
    text-align: center;
}

.unique-offer-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.exclusive-offer-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 28px 0;
}

.exclusive-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 126px;
    margin-bottom: 70px;
}

.unique-holiday-image-set {
    display: flex;
    justify-content: space-between;
    background-image: url('../resources/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.distinctive-offer-box {
    position: relative;
}

.distinctive-offer-profile-pic {
    position: relative;
    bottom: -5px;
}

.exclusive-discount-image {
    position: absolute;
    bottom: 300px;
    right: 280px;
}

/* Fourth section styles */
.fourth-section {
    width: 1200px;
    padding: 100px 80px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.text-content {
    text-align: left;
    margin-right: 400px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.text-content h6 {
    color: #F00; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; 
    
}

.text-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.text-content p {
    font-size: 16px;
    color: #070211;
}


.image-grid {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center; 
}
.image-grid img {
    width: 100%;
    max-width: 650px; 
    height: auto;
    transition: transform 0.3s ease; 
}

/* Hover effect */
.image-grid img:hover {
    transform: scale(1.1);
}


/* Fifth section styles */
.fifth-section {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 210px;
}

.subscribe-container {
    text-align: center;
    padding: 20px;
}

.subscribe-container img {
    max-width: 100px; 
}

.subscribe-container h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px; 
}

.subscribe-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px; 
}

.email-container {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-button-container {
    display: flex;
    align-items: center;
}

.input-button-container input[type="email"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input-button-container button {
    width: 100px;
    height: 40px;

    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-button-container button:hover {
    background-color: black;
}


/* Footer section styles */

footer {
   height: 350px;
    background-color: #070211;
    padding: 120px 140px;
}

.contact-details,
.footer-details {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.contact-section {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 80px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

hr {
    opacity: 15%;
    margin: 50px 0px;
}

/* Social Media icon */
.social-icons-section,
.social-links {
    text-align: center;
    margin-right: 24px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom a {
    text-decoration: none;
}

/* Footer Bottom Section */
  .footer-bottom .footer-details {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-bottom .footer-details a {
    display: inline-block;
    background-color: #070211;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
} */

.footer-bottom .footer-details a:hover {
    background-color: #F00;
}

